.container-fluid>.row:nth-child(2) {
    margin-top: 1.5em;
}

/******* Pre Lobby *******/

.pre-lobby>* {
    text-align: center;
}

.pre-lobby-body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

/******* Web Player *******/

.web-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}

.spotifyBtn {
    background: transparent;
    margin: 0.5em 0.25em;
    padding: 0.5em;
    border-radius: 50% !important;
}

.spotifyBtn>* {
    width: 2em;
    height: 2em;
}

.spotifyBtn:nth-child(2)>* {
    width: 3em;
    height: 3em;
}

#nowPlayingCover {
    height: 50%;
    width: 50%;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 1em;
}

#nowPlayingName {
    font-size: 2em;
    font-weight: bold;
}

#nowPlayingArtist {
    font-size: 1.2em;
    margin: 0.5em auto;
}

/******* Chat *******/

#chat-wrapper {
    width: 50%;
}

#chat {
    min-height: 250px;
    max-height: 500px;
    display: block;
    overflow-y: scroll;
}

.chat-container {
    margin: 0.5em auto;
}

#chat-header {
    font-size: 2em;
}

#chat {
    height: 50vh;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#sendBar {
    height: 3em;
    width: 100%;
    display: inline-flex;
}

#chatInput {
    width: 74.5%;
    margin-right: 0.5%;
    border: none;
    padding-left: 0.5em;
}

#chatInput:focus {
    outline: 1px solid #000;
}

#sendBtn {
    border: none;
    background-color: rgba(103, 255, 128, 0.603);
    width: 30%;
    padding: 0;
    font-size: 0.85em;
}

#sendBtn:hover {
    background-color: rgb(0, 248, 0);
}

.dropdown {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(145, 145, 145);
    color: #fff;
    transition: 0.25s;
}

.dropdown:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
}

#caret {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    transition: 0.3s;
}

.lobby-list {
    position: absolute;
    width: 100%;
    top: 6.5em;
    height: 0;
    background-color: rgba(204, 204, 204, 0.8);
    opacity: 0;
    overflow-y: scroll;
    transition: 0.3s;
}

.lobby-list.visible {
    position: absolute;
    height: calc(100% - 6.5em);
    opacity: 1;
    overflow-y: scroll;
}

.member-card {
    background-color: #fff;
    height: 90px !important;
    width: 80%;
    height: 0%;
    margin: 0.5em auto;
    padding: 0.5em;
    box-shadow: 0 0 2px black;
}

#member-name {
    font-size: 1.25em;
}

#pfp-container {
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50% !important;
}

#member-pfp {
    position: absolute;
    top: -50%;
    left: -50%;
    object-fit: cover;
    height: 140px;
    width: 140px;
    transform: scale(0.5);
}

/******* Song Cards *******/

.song-card {
    display: flex;
    align-items: center;
    border: 1px solid #888;
    margin: 0.5em auto;
    padding: 0.25em;
    transition: 0.3s;
    width: 100%;
    font-size: 1.2em;
}

.song-card>div>.row {
    display: flex;
    align-items: center;
}

.song-card button {
    border: 1px solid #000;
    align-items: center;
    width: 100%;
    height: 2.5em;
}

.song-card img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.song-card-artist {
    font-size: 0.85em;
}

.song-card-name {
    font-weight: bold;
    font-size: 1.1em;
}

.song-card:hover {
    background: rgba(27, 27, 27, 0.5);
    color: #fff;
}


/******* song search *******/

#searchArea {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}

#searchArea>h3:first-of-type {
    margin-bottom: 0.5em;
}

#searchbox {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 25%;
    height: 3em;
    width: 80%;
    border: none;
    padding: 0 0.5em;
}

#searchbox:focus {
    outline: 1px solid #ccc;
}

#result-list {
    position: absolute;
    width: 100%;
    max-width: 60vw;
    max-height: 50vh;
    top: 32.5%;
    left: 50%;
    transform: translateX(-50%);

    padding: 1em;
    overflow-y: scroll;
    background-color: #fff;
    opacity: 0;
}

#result-list:empty {
    background-color: transparent;
    overflow: hidden;
}

#searchArea-close {
    display: none;
    z-index: 3;
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 17.5%;
    right: 21%;
    transition: 0.3s;
}

#searchArea-close:hover {
    cursor: pointer;
    color: #ccc;
}

/* media queries */

@media screen and (max-width: 1200px) {
    #searchArea {
        position: absolute !important;
        width: 100%;
        top: 7.5em;
    }

    #searchbox {
        left: 50vw !important;
        transform: translateX(-50%) !important;
        width: 60% !important;
    }

    .web-player {
        margin-top: 1em;
    }
}