#queue-title {
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0;
    width: 100%;
}

#queue-container {
    position: relative;
    background-color: #fff;
    margin-top: 2.5em;
    padding: 1em;
    overflow-y: scroll;
    height: 75vh;
}

.queue-desc {
    margin-top: 0.5em;
}