#queue-title {
    text-align: center;
    font-weight: bold;
    padding: 0.5em 0;
    width: 100%;
}

#queue-container {
    position: relative;
    background-color: #fff;
    padding: 1em;
    overflow-y: scroll;
    height: 60vh;
    font-size: 0.75em;
}

#queue-container img {
    width: initial;
    height: initial;
}

.export-settings {
    position: absolute;
    width: calc(25% - 2.5em);
    height: 0;
    background-color: rgb(204, 204, 204);
    opacity: 0;
    overflow: hidden;
    transition: 0.3s;
}

.export-settings.visible {
    overflow-y: scroll;
    padding: 1em;
    height: 7.5em;
    opacity: 1;
}

.export-settings button {
    width: 100%;
    margin: 0.5em auto;
}

.added-by {
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    margin-top: 0.5em;
}

@media screen and (max-width: 1200px) {
    #queue-container {
        margin-top: 5em !important;
    }

    .export-settings {
        width: calc(100% - 5.5em);
    }
}

@media screen and (max-width: 600px) {
    #queue-container .song-card {
        font-size: 1em;
    }
}