#queue-title {
    text-align: center;
    padding: 0.5em 0;
    width: 100%;
}

#queue-container {
    position: relative;
    background-color: #fff;
    padding: 1em;
    overflow-y: scroll;
    height: 60vh;
    font-size: 0.75em;
}

/* dropdown css properties are from lobby.css */
.export-settings {
    position: absolute;
    width: calc(25% - 2.5em);
    height: 0;
    background-color: rgb(204, 204, 204);
    opacity: 0;
    overflow-y: scroll;
    padding: 1em;
    transition: 0.3s;
}

.export-settings.visible {
    height: 9em;
    opacity: 1;
}

.export-settings button {
    width: 100%;
    margin: 0.5em auto;
}

.added-by {
    font-size: 0.6em;
    margin-top: 0.5em;
    font-style: italic;
}

@media screen and (max-width: 1200px) {
    .export-settings {
        width: calc(100% - 5.5em);
    }

    .song-card img {
        min-width: 64px;
        min-height: 64px;
    }
}

@media screen and (max-width: 600px) {
    #queue-container .song-card {
        font-size: 1em;
    }

    .song-card img {
        min-width: 40px;
        min-height: 40px;
    }
}