#searchArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

#searchArea>h3:first-of-type {
    margin-bottom: 0.5em;
}

#searchbox {
    z-index: 2;
    height: 3em;
    width: 80%;
    border: none;
    padding: 0 0.5em;
}

#searchbox:focus {
    outline: 1px solid #ccc;
}

#result-list {
    display: none;
    width: 60%;
    height: 50vh;
    margin-top: 2.5em;
    padding: 1em;
    overflow-y: scroll;
    background-color: #fff;
    opacity: 0;
}

#result-list:empty {
    background-color: transparent;
    overflow: hidden;
}

#searchArea>div:nth-child(2) {
    align-items: end;
}

#searchArea-close {
    display: none;
    position: relative;
    left: calc(30% - 0.5em);
    z-index: 3;
    font-size: 3em;
    color: #fff;
    transition: 0.3s;
}

#searchArea-close:hover {
    cursor: pointer;
    color: #ccc;
}

@media screen and (max-width: 1200px) {
    #searchArea {
        align-items: center !important;
    }
}

@media screen and (max-width: 600px) {
    #searchbox {
        font-size: 0.75em;
    }
}