#chat-wrapper {
    width: 50%;
}


/***** CHAT *****/

.chat-container {
    margin-bottom: 0.1em;
}

#chat-header {
    font-size: 2em;
}

#chat {
    height: 50vh;
    width: 100%;
    display: block;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

#sendBar {
    height: 3em;
    width: 100%;
    display: inline-flex;
}

#chatInput {
    width: 70%;
    border: none;
    border-radius: 0.25rem;
    padding-left: 0.5em;
}

#sendBtn {
    font-size: 0.8em;
    border: solid rgba(56, 253, 89, 0.603) 2px;
    background-color: rgba(103, 255, 128, 0.603);
    border-radius: 0.25rem;
    width: 30%;
}

#searchArea {
    text-align: center;
    margin: 2rem auto;
    border-top: 1px solid #000;
    padding-top: 1em;
}

#searchbox {
    height: 3em;
    width: 75%;
    font-size: 90%;
    border: none;
    padding: 0 0.5em;
}

#searchbox:focus {
    outline: 1px solid #ccc;
}

#search-btn {
    font-size: 90%;
    height: 3em;
    width: calc(20% - 0.5em);
    border: none;
    margin-left: 0.5em;
    padding: 0 0.5em;
}


.dropdown {
    width: 100%;
    height: 2.5em;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(145, 145, 145);
    color: #fff;
    transition: 0.25s;
}

.dropdown:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
}

#caret {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%) rotate(0deg)
}

.lobby-list {
    position: absolute;
    width: 100%;
    top: 6.5em;
    background-color: rgba(204, 204, 204, 0.5);
    opacity: 0;
    transition: 0.3s;
}

.lobby-list.visible {
    opacity: 1;
    overflow-y: scroll;
}

.member-card {
    background-color: #fff;
    height: 90px;
    width: 80%;
    height: 0%;
    margin: 0.5em auto;
    padding: 0.5em;
    box-shadow: 0 0 2px black;
}

#member-name {
    font-size: 1.25em;
}

#member-pfp {
    height: 70px;
}

/* Queue */

#queue-title {
    text-align: center;
}

#queue-container {
    margin-top: 5%;
    border: 1px solid rgb(243, 243, 243);
    padding: 1em;
    overflow-y: scroll;
    max-height: 50vh;
}

.song-card {
    position: relative;
    padding: 0.25em;
    transition: 0.3s;
}

#chat {
    min-height: 250px;
    max-height: 500px;
    display: block;
}

.song-card>button {
    position: absolute;
    width: 20%;
    right: -7.5%;
    top: 25%;
    transform: translateX(-50%);
}

.song-card:hover {
    background: rgba(27, 27, 27, 0.5);
    color: #fff;
}


/* Web Player */

.main-wrapper {
    text-align: center;
}

.spotifyBtn {
    background: transparent;
    margin: 0.5em 0.25em;
    padding: 0.5em;
    border-radius: 50%;
}

.spotifyBtn>* {
    width: 2em;
    height: 2em;
}


.spotifyBtn:nth-child(4)>* {
    width: 3em;
    height: 3em;
}


#nowPlayingName {
    font-size: 2em;
    text-decoration: bold;
}

#nowPlayingArtist {
    font-style: 1.25em;
    margin: 0.5em auto;
}