@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* general css */

* {
    font-family: 'Poppins';
    border-radius: 0 !important;
}

html {
    background-color: #23da63;
}

body {
    background: transparent;
    padding: 2em
}

button {
    background-color: #fff;
    border: none;
    padding: 0.5em;
    transition: 0.25s;
}

button:hover {
    background: rgb(41, 41, 41);
    color: #fff;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/********* Home *********/

#sign-in {
    position: absolute;
    right: 1.5em;
    top: 2.5em;
    vertical-align: middle;
    display: inline-block;
}

.page-title {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.unselectable {
    user-select: none;
}